@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eae2b7;
}

body {
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
